.header {
  top: 0;
  left: 0;
  display: flex;
  position: sticky;
  height: 60px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-bottom: -60px;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.nav-item.active {
  color: #ff0;
}
