.home {
  display: flex;
  flex: 1;
  color: lightgrey;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../Images/CodeBackground.jpg");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.home-title {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.home-title > h1 {
  margin-right: 10px;
}

.home-title > h2 {
  font-weight: normal;
  font-size: 1.25em;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.scroll-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border: 1px solid black;
  border-radius: 4px;
  color: white;
  font-weight: normal;
  font-size: 1.25em;
  width: 150px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.scroll-button:hover {
  background-color: yellow;
}

.scroll-button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.scroll-button span:after {
  content: "\21CA";
  color: black;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.scroll-button:hover span {
  padding-right: 25px;
  color: black;
}

.scroll-button:hover span:after {
  opacity: 1;
  right: 0;
}
